.border1{
    position: absolute;
    width: 1090px;
    height: 851px;
    left: 201px;
    top: 74px;

    background: #FFFFFF;
    border: 2px solid #716565;
    box-sizing: border-box;
    filter: opacity(4px);
  }

